<div class="container">
    <div class="welcome">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                
            <em class="far fa-poll-h"></em>
                <h5 class="card-title">Welcome to Notezy Vishal</h5>
                <p class="card-text">Sign in with your gmail account to continue.</p>

                <button type="button" class="btn btn-primary" (click)="onSignIn()">
                    <em class="fab fa-google"></em>
                    <span class="button-text">Sign in</span>
                </button>
            </div>
        </div>
    </div>
</div>