<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <title>Welcome to Notezy boys n girls</title>
    <body>Hello CICD  and DCIC</body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='styles/style.css' />
    
    <meta name="google-signin-client_id" content="398350552115-61lt0bu68bd6gktfcov3sn9h408nc9ct.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js"></script>
</head>

<body>
    <app-root>Loading ...</app-root>
    <script src="/scripts/app/bundle.js"></script>
</body>

</html>